# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

#### Objectives:
- Popular Languages in Data Science
- Popular libraries in Data Science
- Use of tables in Jupyter
- Arithmetic operations in Jupyter

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

#### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. TensorFlow

| Tools |
|---|
| PostgresSQL |
| Apache Airflow |
| Jupyter |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Edson Gustavo Zazueta Correa